# Folder
config/*
src/docker_py/__pycache__/*
src/Install/__pycache__/*
logs/*

config/python_library_config.json
config/active_model_config.json
config/project_paths.json
data/users/user_alice_mai-ai_local/inbox/user_inbox.db
src/agent/__pycache__/__ollama_running.cpython-313.pyc
config/active_model_config.json
src/agent/agent_universal_skript/__pycache__/*